<footer class="bg-natural-95 border-top">
  <nav class="container py-lg-7 py-5">
    <div
      class="d-flex justify-content-lg-between justify-content-center flex-lg-nowrap flex-wrap"
    >
      <ul
        class="d-flex flex-lg-nowrap flex-wrap fs-lg-7 fs-8 justify-content-center mb-2 px-lg-0 px-7"
      >
        <li><a href="#" class="px-lg-5 px-4 py-lg-0 py-2">服務方案</a></li>
        <li><a href="#" class="px-lg-5 px-4 py-lg-0 py-2">關於職旅</a></li>
        <li><a href="#" class="px-lg-5 px-4 py-lg-0 py-2">聯絡我們</a></li>
        <li><a href="#" class="px-lg-5 px-4 py-lg-0 py-2">隱私權政策</a></li>
        <li><a href="#" class="px-lg-5 px-4 py-lg-0 py-2">用戶條款</a></li>
      </ul>
      <p class="fs-8 text-natural-50">
        Copyright © 2025 職旅 workway. All rights reserved.
      </p>
    </div>
  </nav>
</footer>
