.side-width {
  width: 300px;
}

.main-width {
  width: 100%;
  label,
  input {
    font-size: 14px;
  }
}
.up-img {
  width: 120px;
}
.tab-btn-bg {
  .nav-link {
    background-color: $white;
  }
}
