<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <title>服務方案</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="container-fluid service-bg pt-lg-8 pt-7">
      <div class="container position-relative pb-lg-8 pb-7">
        <h1 class="fs-lg-1 fs-2 pb-lg-7 pb-5 text-center">服務方案</h1>
        <p class="fs-lg-6 fs-7 text-natural-50 text-center">
          <span class="d-lg-block d-inline">
            我們最全面的服務方案，為您提供從評估、規劃到實踐的完整支持。不再擔心轉型過程中的各種挑</span
          >
          <span> 戰，我 們的專家團隊將全程陪伴，確保您順利實現職業自由。</span>
        </p>

        <div
          class="position-absolute bottom-0 end-0 banner-person d-none d-lg-block"
        >
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week6/service/banner-person.svg"
            alt=""
          />
        </div>
      </div>
    </section>
    <section class="container py-lg-8 py-7">
      <div class="text-center mb-1">
        <img src="/assets/images/gaol.svg" alt="" />
      </div>
      <div class="text-center">
        <h2 class="fs-lg-2 fs-3 mb-lg-5 mb-4">職涯轉型全程計畫</h2>
        <p class="fs-lg-6 fs-7 mb-lg-7 mb-5 text-natural-50">
          從企業到自由，無縫轉型之旅
        </p>
      </div>
      <div>
        <div
          class="p-lg-7 p-5 service-card d-flex position-relative mb-4 mb-lg-5"
        >
          <span class="position-absolute hot-tag fw-bold fs-8">HOT</span>
          <div>
            <h5 class="fs-lg-7 fs-8 text-primary-60 mb-2 pt-5 pt-lg-0">
              全面方案
            </h5>
            <h6 class="fs-lg-4 fs-5">職涯轉型全程計畫</h6>
            <p class="fs-lg-7 fs-8">
              針對希望完全改變職業領域的資深專業人士。我們的專家團隊將協助您將過往經驗轉化為新領域的競爭優勢。
            </p>
            <ul class="servicelist mb-5">
              <li>深度職能轉換評估與規劃</li>
              <li>跨領域技能遷移策略</li>
              <li>新領域人脈建立指導</li>
              <li>長期職涯發展藍圖</li>
            </ul>
            <div class="p-lg-5 p-4 bg-natural-95 rounded-2 mb-lg-5 mb-4">
              <div class="fs-lg-7 fs-8 mb-2 d-flex">
                <span> 適合對象：</span>
                <span class="fw-bold"
                  ><span class="d-block d-lg-inline"
                    >從企業職場轉型為自由工作者 /</span
                  ><span> 數位遊牧者的專業人士</span></span
                >
              </div>
              <p class="fs-lg-7 fs-8">
                優惠價格：<span class="fw-bold fs-lg-4 fs-5 text-primary-60">
                  NT$ 120,000</span
                >
              </p>
            </div>
            <button type="button" class="btn btn-dark rounded-4 py-3 px-5">
              我有興趣
              <span class="material-icons-outlined align-bottom">
                keyboard_arrow_right
              </span>
            </button>
          </div>
          <div class="d-none d-lg-block">
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/59f6973c658c94689331eea2d93ef4088a0029ee/2025-week6/service/plan-1.svg"
              alt=""
            />
          </div>
        </div>
        <div
          class="p-lg-7 p-5 rounded-3 shadow d-flex position-relative mb-4 mb-lg-5"
        >
          <div>
            <h5 class="fs-lg-7 fs-8 text-primary-60 mb-2 pt-5 pt-lg-0">
              加速方案
            </h5>
            <h6 class="fs-lg-4 fs-5">自由工作加速計畫</h6>
            <p class="fs-lg-7 fs-8">
              為已確定要轉型但需要全面規劃的專業人士設計。六次深度諮詢，從心態調整到實際操作，全方位為您的轉型做好準備。
            </p>
            <ul class="servicelist mb-5">
              <li>詳細的市場機會分析</li>
              <li>個人優勢定位與差異化策略</li>
              <li>完整的轉型時間表與里程碑</li>
              <li>轉型期間的心理健康維護策略</li>
            </ul>
            <div class="p-lg-5 p-4 bg-natural-95 rounded-2 mb-lg-5 mb-4">
              <div class="fs-lg-7 fs-8 mb-2 d-flex">
                <span> 適合對象：</span>
                <span class="fw-bold"
                  ><span class="d-block d-lg-inline"
                    >已經開始自由工作但想提升效 </span
                  ><span>能和收入的專業人士</span></span
                >
              </div>
              <p class="fs-lg-7 fs-8">
                優惠價格：<span class="fw-bold fs-lg-4 fs-5 text-primary-60">
                  NT$ 80,000</span
                >
              </p>
            </div>
            <button type="button" class="btn btn-dark rounded-4 py-3 px-5">
              我有興趣
              <span class="material-icons-outlined align-bottom">
                keyboard_arrow_right
              </span>
            </button>
          </div>
          <div class="d-none d-lg-block">
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/59f6973c658c94689331eea2d93ef4088a0029ee/2025-week6/service/plan-1.svg"
              alt=""
            />
          </div>
        </div>
        <div
          class="p-lg-7 p-5 rounded-3 shadow d-flex position-relative mb-4 mb-lg-5"
        >
          <div>
            <h5 class="fs-lg-7 fs-8 text-primary-60 mb-2 pt-5 pt-lg-0">
              遊牧方案
            </h5>
            <h6 class="fs-lg-4 fs-5">數位遊牧生活計畫</h6>
            <p class="fs-lg-7 fs-8">
              針對希望完全改變職業領域的資深專業人士。我們的專家團隊將協助您將過往經驗轉化為新領域的競爭優勢。
            </p>
            <ul class="servicelist mb-5">
              <li>深度職能轉換評估與規劃</li>
              <li>新領域人脈建立指導</li>
              <li>跨領域技能遷移策略</li>
              <li>長期職涯發展藍圖</li>
            </ul>
            <div class="p-lg-5 p-4 bg-natural-95 rounded-2 mb-lg-5 mb-4">
              <div class="fs-lg-7 fs-8 mb-2 d-flex">
                <span> 適合對象：</span>
                <span class="fw-bold"
                  ><span class="d-block d-lg-inline"
                    >希望同時擁有工作自由和地域 </span
                  ><span>自由的專業人士</span></span
                >
              </div>
              <p class="fs-lg-7 fs-8">
                優惠價格：<span class="fw-bold fs-lg-4 fs-5 text-primary-60">
                  NT$ 60,000</span
                >
              </p>
            </div>
            <button type="button" class="btn btn-dark rounded-4 py-3 px-5">
              我有興趣
              <span class="material-icons-outlined align-bottom">
                keyboard_arrow_right
              </span>
            </button>
          </div>
          <div class="d-none d-lg-block">
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/59f6973c658c94689331eea2d93ef4088a0029ee/2025-week6/service/plan-1.svg"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <section class="py-lg-8 py-7 bg-natural-95">
      <div class="container">
        <div class="text-center mb-1">
          <img src="/assets/images/gao2.svg" alt="" />
        </div>
        <div class="text-center mb-7">
          <h2 class="fs-lg-2 fs-3 mb-lg-5 mb-4">基礎諮詢服務</h2>
          <p class="fs-lg-6 fs-7 mb-lg-7 text-natural-50">
            我們提供第一次免費諮詢，一起建立信任的橋樑
          </p>
        </div>
        <div class="row">
          <div class="col-lg-4 text-center mb-4">
            <div class="rounded-3 shadow bg-white">
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/59f6973c658c94689331eea2d93ef4088a0029ee/2025-week6/service/server-1.svg"
                alt=""
                class="p-5"
              />
              <p class="fs-lg-4 fs-5 fw-bold mb-2">職涯探索評估</p>
              <p class="fs-8 text-natural-50 mb-2">
                3 次一對一諮詢，了解可能性和適配性
              </p>
              <p class="fs-lg-4 fs-5 fw-bold text-primary-60 mb-5">NT$ 3,800</p>
              <button
                type="button"
                class="btn btn-dark rounded-4 py-3 px-5 mb-5"
              >
                我有興趣
                <span class="material-icons-outlined align-bottom">
                  keyboard_arrow_right
                </span>
              </button>
            </div>
          </div>
          <div class="col-lg-4 text-center mb-4">
            <div class="service-card position-relative">
              <span class="position-absolute hot-tag fw-bold fs-8">HOT</span>
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/59f6973c658c94689331eea2d93ef4088a0029ee/2025-week6/service/server-2.svg"
                alt=""
                class="p-5"
              />
              <p class="fs-lg-4 fs-5 fw-bold mb-2">職涯轉型規劃</p>
              <p class="fs-8 text-natural-50 mb-2">
                6 次深度諮詢，建立完整轉型藍圖
              </p>
              <p class="fs-lg-4 fs-5 fw-bold text-primary-60 mb-5">
                NT$ 12,000
              </p>
              <button
                type="button"
                class="btn btn-dark rounded-4 py-3 px-5 mb-5"
              >
                我有興趣
                <span class="material-icons-outlined align-bottom">
                  keyboard_arrow_right
                </span>
              </button>
            </div>
          </div>
          <div class="col-lg-4 text-center">
            <div class="rounded-3 shadow bg-white">
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/59f6973c658c94689331eea2d93ef4088a0029ee/2025-week6/service/server-3.svg"
                alt=""
                class="p-5"
              />

              <p class="fs-lg-4 fs-5 fw-bold mb-2">專業定位與品牌建立</p>
              <p class="fs-8 text-natural-50 mb-2">
                4 次專業諮詢，確立市場定位與差異化策略
              </p>
              <p class="fs-lg-4 fs-5 fw-bold text-primary-60 mb-5">NT$ 8,800</p>
              <button
                type="button"
                class="btn btn-dark rounded-4 py-3 px-5 mb-5"
              >
                我有興趣
                <span class="material-icons-outlined align-bottom">
                  keyboard_arrow_right
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-lg-8 py-7 plan-bg">
      <div class="container">
        <div class="text-center mb-1">
          <img src="/assets/images/goal3.svg" alt="" />
        </div>
        <div class="text-center mb-7">
          <h2 class="fs-lg-2 fs-3 mb-lg-5 mb-7">持續支持方案</h2>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div
              class="service-card bg-secondary-90 position-relative p-lg-7 p-5 z-1"
            >
              <div class="position-relative z-3 text-center">
                <h4 class="fs-lg-4 mb-2">職旅會員計畫</h4>
                <p class="fs-8 mb-7">享有長期社群支持與資源服務</p>
                <p class="mb-7">
                  <span class="fw-bold text-primary-60 fs-lg-4 fs-5"
                    >NT$ 9,800</span
                  ><sapn class="fs-lg-7 fs-8"> /年 ( NT$1,200 /月)</sapn>
                </p>
                <button type="button" class="btn btn-dark rounded-4 py-3 px-5">
                  我有興趣
                  <span class="material-icons-outlined align-bottom">
                    keyboard_arrow_right
                  </span>
                </button>
              </div>
              <div
                class="position-absolute bottom-0 strat-0 z-2 plan-img d-none d-lg-block"
              >
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/59f6973c658c94689331eea2d93ef4088a0029ee/2025-week6/service/subscribe-1.svg"
                  alt=""
                />
              </div>
              <div
                class="position-absolute bottom-0 end-0 z-2 pe-4 plan-img d-none d-lg-block"
              >
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/59f6973c658c94689331eea2d93ef4088a0029ee/2025-week6/service/subscribe-2.svg"
                  alt=""
                />
              </div>
              <div class="position-absolute top-0 end-0 z-1">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/59f6973c658c94689331eea2d93ef4088a0029ee/2025-week6/service/subscribe-3.svg"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container py-6 px-5">
      <div class="row">
        <div
          class="bg-primary-60 rounded-lg-5 rounded-3 px-lg-7 py-lg-5 px-5 py-4"
        >
          <div class="tel">
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week6/logo-icon-w.svg"
              alt=""
              class="mb-5"
            />
            <h2 class="fs-lg-2 fs-3 fw-bold text-white mb-3">
              邁向你真正想過的生活，從這裡開始
            </h2>
            <p class="fs-lg-6 fs-7 text-white">
              第一次諮詢只要 30 分鐘，可能改變你未來 30 年的生活方式
            </p>
          </div>
          <div class="d-flex flex-lg-row flex-column justify-content-between">
            <ul
              class="d-flex flex-lg-row flex-column justify-content-center text-white fs-lg-5 fs-6"
            >
              <li class="me-lg-5 me-0 mb-4">
                <span class="material-icons-outlined align-bottom">
                  phone
                </span>
                0800-123-123
              </li>
              <li class="mb-5">
                <span class="material-icons-outlined align-bottom"> mail </span
                >Sample@mail.com
              </li>
            </ul>
            <button type="button" class="btn btn-dark py-3 px-5">
              預約免費職涯探索<span
                class="material-icons-outlined align-bottom"
              >
                keyboard_arrow_right
              </span>
            </button>
          </div>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </body>
</html>
